@font-face {
  font-family: style;
  src: url(./L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}
@font-face {
    font-family: style2;
    src: url(./63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
@font-face {
    font-family: style3;
    src: url(./63cffc20aa8997095067596f_Satoshi-Light.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #121212;

  main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 105%;
    grid-template-areas:
      "nav nav"
      "hero-img hero-text";
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    grid-area: nav;
    padding: 1rem;
    margin-top: 1rem;

    .nav-first {
      display: flex;
      align-items: center;
    }
    .nav-logo {
      height: 1.3rem;
    }

    .nav-sec {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      a {
        text-decoration: none;
        color: #f4f2ed;
        font-family: style;
        font-size: 14px;
        background-color: rgba(255, 255, 255, 0.05);
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 0.5rem;
      }
      .yellow {
        background-color: #cebd63;
        color: black;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        svg {
          height: 15px;
        }
      }
    }
  }
}


.hero-img {
  height: 100%;
  width: 100%;
  background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2cb2934d35c4b4c5b51da_studio-hero-p-1080.webp);
  background-size: cover;
  background-position: center;
  grid-area: hero-img;
  border-radius: 1rem;
}
.hero-text {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  grid-area: hero-text;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  h4 {
    font-family: style;
    color: #f4f2ed;
    margin-left: 4rem;
    margin-top: 4rem;
    font-weight: 400;
    font-size: 0.95rem;
  }

  h1 {
    font-family: style2;
    color: #f4f2ed;
    font-weight: 400;
    font-size: 3.8rem;
  }

  .text{
    margin-top: 6.5rem;
    margin-bottom: 10rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p{
        color: rgba(244, 242, 237, .6);
        font-family: style3;
        font-size: 1.4rem;
    }

    .our-story {
      margin-top: 1.5rem;
      text-decoration: none;
      color: #f4f2ed;
      font-family: style;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 0.7rem;

      .badge{
        background-color: rgba(255, 255, 255, 0.05);
        padding: 0.5rem;
        border: 1px solid rgba(255, 255, 255, .15);
        border-radius: 50%;
      }
    }
  }
}
